.custom-waiting{
  position:fixed;
  z-index:1000;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#fff;
}
.custom-waiting:after{
  position:absolute;
  content:"";
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width:60px;
  height:60px;
  border-radius:10px;
  background:#2d8cf0;
  -webkit-animation:waiting 1.6s infinite ease-out;
  -o-animation:waiting 1.6s infinite ease-out;
  animation:waiting 1.6s infinite ease-out;
}
@keyframes waiting
{
  0% {margin-top:0}
  50% {margin-top:40px}
  100% {margin-top:0}
}
@-webkit-keyframes waiting
{
  0% {margin-top:0}
  50% {margin-top:40px}
  100% {margin-top:0}
}
@-o-keyframes waiting
{
  0% {margin-top:0}
  50% {margin-top:40px}
  100% {margin-top:0}
}
@-moz-keyframes waiting
{
  0% {margin-top:-40px}
  50% {margin-top:0}
  100% {margin-top:-40px}
}
.custom-tip{
  position:absolute;
  z-index:1001;
  left:50%;
  top:30%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding:6px 12px;
  border:1px solid #ddd;
  border-radius:4px;
  color:#007aff;
  background:#fff;
  -webkit-animation:tip .6s 2 linear;
  -o-animation:tip .6s 2 linear;
  animation:tip .6s 2 linear;
}
.custom-tip .fa{
  margin-right:6px;
}
@keyframes tip
{
  0% {margin-left:0}
  25% {margin-left:-6px}
  50% {margin-left:0}
  75% {margin-left:6px}
  100% {margin-left:0}
}
@-webkit-keyframes tip
{
  0% {margin-left:0}
  25% {margin-left:-6px}
  50% {margin-left:0}
  75% {margin-left:6px}
  100% {margin-left:0}
}
@-o-keyframes tip
{
  0% {margin-left:0}
  25% {margin-left:-6px}
  50% {margin-left:0}
  75% {margin-left:6px}
  100% {margin-left:0}
}
@-moz-keyframes tip
{
  0% {margin-left:0}
  25% {margin-left:-6px}
  50% {margin-left:0}
  75% {margin-left:6px}
  100% {margin-left:0}
}
